@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap");

$background: #343434;
$black: #000;
$dark-gray: #1d1d1d;
$gray: #dadada;
$purple: #8b1ef9;
$white: #fff;
