@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap');

$background: #343434;
$black: #000;
$gray: rgb(134, 134, 134);
$dark-gray: #1d1d1d;
$white: #fff;