@import "./colors.scss";

.Todo {
  background: $gray;
  padding: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin: 0.3em;
  font-family: "Roboto";
  font-size: 18px;

  &:hover {
    background: $white;
  }

  p {
    padding: 0;
    text-align: center;
    margin: 0;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;

    input {
      padding: 0;
      margin: 0;
      background: inherit;
      border: 0;
      color: inherit;
      font-size: 18px;
      font-family: "Roboto";

      &:focus {
        outline: 0;
      }
    }
  }

  &--complete {
    text-decoration: line-through;
    background: $dark-gray;
    color: $gray;
    opacity: 0.8;

    button {
      color: $gray;
    }

    &:hover {
      opacity: 1;
      background: $dark-gray;
    }
  }

  &--buttons {
    // slight hack just to make the edit button while editing an item look right
    margin-left: auto;
    background: inherit;
    border: 0;

    &:hover {
      cursor: pointer;
    }

    button {
      background: inherit;
      border: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
